body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 0;
}

header a {
    border-radius: 30px;
    background-color: #007BFF;
    padding: 7px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 30px;
}

.carrossel-container {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 300px;
    overflow: hidden;
    position: relative;
    background-color: #12273f;
    color: aliceblue;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 10px;
}

.treinos {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.treino {
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.treino img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.navTreinos {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.navTreinos button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

.navTreinos button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}